.accessories{
  margin-bottom: 44px;
  &__adds{
    display: flex;
    width: 1110px;
    height: 197px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(0, 0, 0);
    overflow: hidden;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
  }
  &__title{
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    //align-self: end;
  }
  &__img{
    width: 281px;
    height: 246px;
    background: black;
    //position: absolute;
    //right: 150px;
    //top: -110px;
    //justify-self: right;
    //align-self: start;
  }
}










