.header{
  margin-bottom: 22px;
  &__title{
    color: rgb(16, 16, 16);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
  }
  &__choise{
    color: rgb(16, 16, 16);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
  &__list{
    transition: .7s;
    background: rgba(235, 235, 235, .6);

  }
  &__link{
    color: rgb(16, 16, 16);
    font-family: Montserrat ,sans-serif;
    font-size: 15px;
    list-style-type: none;
    transition: .7s;
    background: rgba(235, 235, 235, .6);
    border: solid 0.2px;
    border-radius: 15px;
    height: 25px;
    text-align: left;
  }
  &__nav{
    display: flex;
    column-gap: 35px;
    flex-wrap: wrap;
    width: 400px;
    &-div{
      display: flex;
      justify-content: space-between;
    }
  }
}
