.header{
  margin-bottom: 30px;
  &__title{
    color: rgb(16, 16, 16);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
  }

  &__list{
    transition: .7s;
    background: rgba(235, 235, 235, .6);

  }
  &__link{
    color: rgb(16, 16, 16);
    font-family: Montserrat ,sans-serif;
    font-size: 15px;
    list-style-type: none;
    transition: .7s;
    background: rgba(235, 235, 235, .6);
    border: solid 0.2px;
    border-radius: 15px;
    height: 25px;
    text-align: left;
  }
  &__nav{
    display: flex;
    column-gap: 35px;
    flex-wrap: wrap;
    width: 400px;
    &-choise{
      color: rgb(16, 16, 16);
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
    }
    &-div{
      display: flex;
      justify-content: space-between;
    }
  }
  &__cartfav{
    display: flex;
    column-gap: 10px;
  }
  &__cart{
    color: rgb(101, 101, 101);
    width: 23.2px;
    height: 23.2px;
  }

  &__fav{
    color: rgb(101, 101, 101);
    width: 23.2px;
    height: 23.2px;
  }
}
